# IDEs e Editores
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

node_modules/

# Temporários
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Banco de Dados e Configurações
*.log
.env